div.table .id-col,
div.table .image-col,
div.table .header-row {
  text-align: center;
}

.overlay-tint {
  position: absolute;
  top: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
}

.overlay-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  height: auto;
  width: auto;
}

div.nopadding {
  padding: 0 !important;
  margin:  0 !important;
  border:  0 !important;
}

#proofing-input-container {
  padding: 24px 24px 24px 24px;
}

